[data-theme] {
  --background: var(--er-background, #151518);
  --sidebar: var(--er-sidebar, #19191d);
  --surface: var(--er-surface, #1e1e23);
  --raised: var(--er-raised, #26262d);
  --hover: var(--er-hover, #303038);
  --border: var(--er-border, #34343c);
  --text: var(--er-text, #f2f0f3);
  --muted: var(--er-muted, #aaa7b4);
  --accent: var(--er-accent, #e89d83);
  --focus: var(--er-focus, #eeae91);
  --input: var(--er-sidebar, #19191e);
  --selected: var(--er-selected, #36272d);
  --selected-border: var(--er-selected-border, #68413f);
  --glow: var(--er-glow, #73466c29);
  --error: #ffc0cb;
  --error-bg: #3c222b;
  --good: #a4d3ae;
  --success-border: #44664c;
  --success-bg: #243229;
  color-scheme: dark;
}
[data-theme='light'] {
  --background: #f4f2f1;
  --sidebar: #fdfcfb;
  --surface: #fff;
  --raised: #f6f3f2;
  --hover: #eee8e6;
  --border: #ded8d8;
  --text: #29242b;
  --muted: #69616d;
  --accent: #974a33;
  --focus: #a53d73;
  --input: #fcfaf9;
  --selected: #f8ece6;
  --selected-border: #d8aea0;
  --glow: #c795bd22;
  --error: #90253d;
  --error-bg: #fff0f3;
  --good: #356741;
  --success-border: #93b59a;
  --success-bg: #edf6ef;
  color-scheme: light;
}
